<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:c="http://www.springframework.org/schema/c"
	   xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	   default-lazy-init="false">
	<!--    <bean id ="student1" class="com.xml.ioc.bean.Student"/>-->
	<!--	<bean class="com.xml.ioc.bean.Student" parent="student1" depends-on="student1"/>-->
	<!--自定义标签 -->
	<context:component-scan base-package="com.xml.ioc" use-default-filters="true"/>
<!--
	<context:property-placeholder location="classpath:application.properties"/>
-->
	<!--	<bean id="student" class="com.xml.ioc.bean.Student"/>-->
	<!--
		非静态方法实列化
	-->
	<!--	<bean id="dog" factory-bean="student" factory-method="dog"/>-->
	<!--
		静态方法实列化
	-->
	<!--	<bean class="com.xml.ioc.bean.Dog" factory-method="student"/>-->
	<!--	构造函数@Autowired实列化-->
	<bean name="dog" class="com.xml.ioc.bean.Dog"  />
	<bean name="student" class="com.xml.ioc.bean.Student"/>
	<bean name="cat" class="com.xml.ioc.scan.Cat"/>
    <!--bean的销毁-->
	<bean name="destoryDemo" class="com.xml.ioc.dosposablebean.DisposableBeanDemo" destroy-method="xmlDestoryBean"/>
	<!--bean的属性注入-->
	<bean name="propertiesBean" class="com.xml.ioc.properties.PropertiesBeanDemo">
		<property name="name" value="${zz.name}"/>
		<property name="age" value="${zz.age}"/>
	</bean>
</beans>